{% extends "TroiswaBackBundle::layout.html.twig" %}

{%  form_theme formulaire _self%}

{% block form_errors -%}
    {% if errors|length > 0 -%}
        {%- for error in errors -%}
            <p class="alert-danger">{{ error.message }}</p>
        {%- endfor -%}
    {%- endif %}
{%- endblock form_errors %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Ajouter un acteur
            </h1>
        </div>
    </div>




    {{ form_start(formulaire,{"attr":{"novalidate":"novalidate"}}) }}

        <div class="row">
            <div class="col-lg-3">
                {{ form_label(formulaire.prenom,"votre prénom") }}
                {{ form_widget(formulaire.prenom,{"attr":{"class":"form-control"}}) }}
                {{ form_errors(formulaire.prenom) }}

                {{ form_label(formulaire.nom,"votre nom") }}
                {{ form_widget(formulaire.nom,{"attr":{"class":"form-control"}}) }}
                {{ form_errors(formulaire.nom) }}
            </div>
        </div>


    {{ form_end(formulaire) }}

{% endblock %}